[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = {extras = ["avro"], version = "==0.11.4"}
requests = "==2.18.4"
"avro-python3" = "==1.8.2"
"flake8" = "==3.5.0"

[dev-packages]

[requires]
python_version = "3.6"
